/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/backup_bigdata_v1
/crm-allinedu.com
/crm-backup
/dev.editing
/editing
/github
/questions-bank
/wordpress
.composer.lock
composer.lock
error_log
.ftpquota
.htaccess