@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: .75rem !important;
    color: #494949 !important;
}

.custom-tooltip {
    --bs-tooltip-bg: #0c58cb;
    --bs-tooltip-color: #fff;
    --bs-tooltip-max-width: 500px;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-padding-y: 10px;
    --bs-tooltip-padding-x: 20px; 
    --bs-tooltip-font-size: 13px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 29px !important;
}

div.dataTables_processing {
    z-index: 9999 !important;
}

#overlay {
    position: fixed;
    background: #FFF;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1060;
}

.accordion-button {
    box-shadow: none !important;
    outline: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.table td,
.table td p {
    font-size: 0.75rem !important;
}

.table td p {
    padding: 0 !important;
    margin: 0 !important;
}

.form-control:disabled,
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #f1f1f1 !important;
    color: rgb(92, 92, 92) !important;
}

.select2-container--default.select2-container--disabled .select2-selection__rendered {
    color: rgb(92, 92, 92) !important;
}


.select2-container {
    display: block !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-radius: 8px !important;
    font-size: .875rem;
    border: 1px solid #ced4da;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    color: red;
}

button.dt-button,
div.dt-button,
a.dt-button,
input.dt-button {
    border-radius: 8px !important;
    padding: 5px 10px !important;
    font-size: .7rem !important;
}

/* width */
::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.popup-modal-detail-client {
    cursor: pointer;
}

.nav-tabs {
    align-items: end !important;
}

.nav-tabs .nav-item .nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-tabs .nav-item .nav-link {
    border-bottom: 4px solid #c9c9c9;
}

.nav-tabs .nav-item .nav-link.active {
    border-bottom: 4px solid #0DCAF0 !important;
    color: #0DCAF0 !important;
}

@media only screen and (max-width: 600px) {
    .advance-filter {
        width: 300px !important;
    }
}