.fc .fc-daygrid-more-link {
    background: #1E2B37 !important;
    color: white !important;
    padding: 2px 5px !important;
    border-radius: 4px !important;
    text-decoration: none !important;
}

.border-alert {
    border:4px solid rgb(242, 121, 16);
    animation: alert 3s infinite;
    animation-direction:alternate; 
}

@keyframes alert{
	0% {
		border:4px solid rgb(230, 255, 1);
	}

	50% {
		border:4px solid rgb(62, 62, 62);
	}

	100% {
		border:4px solid rgb(80, 62, 185);
	}
}
@media (max-width: 768px) {
    h3 {
        font-size: 1.35rem;
    }

    .nav-link.sales,
    .nav-link.partnership {
        font-size: 12px;
        line-height: 1.4;
    }

    #cp_employee {
        width: 100% !important;
    }

    .fc .fc-toolbar-title {
        font-size: 18px !important;
    }

    .fc-dayGridMonth-view {
        overflow: auto;
    }

    .fc-dayGridMonth-view table {
        table-layout: auto !important;
    }
}