body {
    background: transparent;
}

.form-control, .border-form, .form-check-input {
    box-shadow: none !important;
    border: 1px solid #eaeaea;
}

small.text-danger {
    font-size: 11px !important;
}

.bg-form {
    background: url('../img/form-embed/bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.bg-indicator {
    background-color: rgba(255, 255, 255, 0.371);
    padding: 20px;
}

.card {
    border-radius: 0 !important;
    transition: all .3s ease-in-out;
}

.indicator {
    display: flex;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}

.indicator:hover>.indicator-text, .indicator-text.active {
    color: blue;
}

.indicator-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 1em;
    border: 1px solid rgb(43, 43, 44);
    color: #292727;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.indicator-icon.progress {
    border: 3px solid rgb(38, 61, 151);
    color: #261b81;
}

.indicator-icon.done {
    background: #4ed251;
    border: 3px solid green;
    color: #fff;
}

.indicator-text {
    font-size: 1.2em;
    font-weight: 600;
}

.role {
    position: relative;
    overflow: hidden;
}

.role-input {
    position: absolute;
    font-size: inherit;
    top: 5px;
    right: 5px;
    z-index: 2;
}

.role-input:checked~.role-label {
    height: 150px;
}

.role img {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}

.role:hover > .role-label {
    height: 150px;
}


.role-label {
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 1;
    width: 150px;
    height: 35px;
    background: #251b815b;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10px;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}